/* подключение шрифтов*/
@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('fonts/TT Lakes Bold'), local('fonts/TTLakes-Bold'),
    url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Bold.woff') format('woff'),
    url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('fonts/TT Lakes Medium'), local('fonts/TTLakes-Medium'),
    url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Medium.woff') format('woff'),
    url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('fonts/TTLakesCondensed-Regular.eot');
    src: local('fonts/TT Lakes Condensed Regular'), local('fonts/TTLakesCondensed-Regular'),
    url('fonts/TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakesCondensed-Regular.woff') format('woff'),
    url('fonts/TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('fonts/TT Lakes Regular'), local('fonts/TTLakes-Regular'),
    url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Regular.woff') format('woff'),
    url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*основные стили*/
body {
    min-width: 320px;
    max-width: 1120px;
    margin: 0;
    padding: 0;
    background: #F8F8F8;
}
/*хедер*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88px;
    background-color: white;
}
/*Кнопки хедера*/
.headerButton button {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    padding: 0px;
}
/*Скрытие лишних кнопок под разрешения*/
.header__section div:nth-of-type(2), div:nth-of-type(5), div:nth-of-type(6), div:nth-of-type(7), div:nth-of-type(8)  {
    display:none;
}
/*Контейнер хедера*/
.header .header__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.divider {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: #EAEAEA;
}
/*Заголовок*/
.title__highlight {
    width: 4px;
    height: 40px;
    background: #41f6d7;
}
.main__section {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    padding-bottom: 35px;
}
.title {
    display: flex;
    margin-top: 24px;
}
.title span {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-style: normal;
    color: 1B1C21;
    margin-left: 12px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
}
/*скрытие кнопок и текста главного блока*/
.title button:nth-of-type(1), button:nth-of-type(2) {
    display: none;
}
.container div span {
    display: none;
}

.main .main__section .main__menu {
    margin-left: 16px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
}
.main .main__section .main__menu:after {
    position:absolute;
    content:"";
    right:0px;
    top: 98px;
    width: 30px;
    height:36px;
    background: linear-gradient(to right, rgba(0,0,0,0),  #F8F8F8);
}
.main__menu nav ul{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
.main__menu nav ul li{
    list-style-type: none;
}
.main__menu a {
    padding: 8px 16.5px 8px 16.5px;
    margin-right: 20px;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.main__menu a:hover {
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 6px 14.5px 6px 14.5px;
}
/*Контейнер о компании*/
.about-company .container {
    display: flex;
    flex-direction: column;
}
/*Текст о компании*/
.about-company__description {
    margin-top: 24px;
    font-family: 'TT Lakes Regular';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-left:16px;
    margin-right: 16px;
}
/*Ссылка читать далее*/
.about-company__link {
    margin-top: 16px;
    margin-bottom: 16px;
}
.about-company__link::before {
    content: url(img/icon.svg);
    margin-right: 16px;
    margin-left: 24px;
}
.about-company__link a {
    text-decoration: none;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
/*Картинка снизу, блок*/
.about-company__image {
    margin-top: 16px;
    margin-bottom: 35px;
}
/*Картинка снизу*/
.about-company__image img {
    width: 100%;
    height: auto;
}
/* свойства скролла */
.main__menu::-webkit-scrollbar { width: 0; }
.main__menu { -ms-overflow-style: none; }
.main__menu { overflow: -moz-scrollbars-none; }
/* медиа запросы*/
@media (min-width: 768px) {
    .header__section div:nth-of-type(2), div:nth-of-type(5), div:nth-of-type(6), div:nth-of-type(7), div:nth-of-type(8)  {
        display: flex;
    }
    .header__section div:nth-of-type(4) {
        display: none;
    }
    .about-company {
        display: flex;
    }
    .container div span:nth-of-type(1) {
        display: initial;
    }
    .about-company__image {
        min-width: 360px;
        margin-right: 25px;
    }
    .about-company__image img{
        border-radius: 6px;
    }
    .about-company__link {
        margin-top: 10px;
    }
    .header .header__section div {
        margin-right: 16px;
    }
    .header .header__section div:first-of-type {
        margin-left: 24px;
    }
    .header .header__section div:last-of-type {
        margin-right: 24px;
    }

    .header .header__section div.divider {
        margin-right: 20px;
        margin-left: 4px;
    }
    .header .header__section div:nth-of-type(5){
        margin-left: auto;
    }
    .header .header__section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: initial;
    }
    .about-company__description {
        margin-left:24px;
        margin-right:48px;
    }
    .about-company__link::before {
        margin-left: 33px;
    }
    .main .main__section .main__menu {
        margin-left: 24px;
    }
    .main__section {
        padding-bottom: 40px;
    }
}
@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .title button:nth-of-type(1), button:nth-of-type(2) {
        display: flex;
    }
    .title button:nth-of-type(1) {
        margin-left: auto;
        margin-right: 32px;
    }
    .title button:nth-of-type(2) {
        margin-right: 32px;
    }
    .about-company__image {
        min-width: 530px;
        margin-right: 29px;
    }
    .title button {
        display: flex;
        align-items: center;
        font-family: "TT Lakes";
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        border: none;
        outline: none;
        background-color:#F8F8F8;
    }
    .title img {
        margin-left: 8px;
    }
    .title a {
        display: flex;
        align-items: center;
    }
    .container div span:nth-of-type(2) {
        display: initial;
    }
    .about-company__description {
        margin-left:34px;
        margin-right:36px;
    }
    .about-company__link::before {
        margin-left: 40px;
    }
    .main .main__section .main__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .main .main__section .main__menu {
        margin-left: 32px;
    }
    .main__section {
        padding-bottom: 49px;
    }
    .main .main__section .main__menu:after {
        display: none;
    }
    .main__menu nav ul{
        flex-wrap: wrap;
    }
    .main__menu nav ul li {
        display: inline-block;
    }
    .main__menu nav ul li:nth-of-type(5), li:nth-of-type(6) {
        margin-top: 16px;
    }

}